.header .brand {
	font-size: 4rem;
	
}
.header .nav {
	justify-content: center;
}
.article-card {
	border: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    background-color: inherit;
}

.ck.ck-editor__editable_inline {
	border: 0 !important;
}
.ck.ck-reset_all, .ck.ck-reset_all * {
	display: none !important; 
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
  box-shadow: none !important;
}
.ck-editor__editable.ck-blurred .ck-widget.ck-widget_selected, 
.ck-editor__editable.ck-blurred .ck-widget.ck-widget_selected:hover {
  outline-color: #ffffff !important; 
}
.ck .ck-widget.ck-widget_selected, .ck .ck-widget.ck-widget_selected:hover {
  outline: 0 !important; 
}
.ck .ck-widget:hover {
  outline-color: #ffffff !important; 
}

.ck-editor__editable.ck-blurred .ck-widget.ck-widget_selected, 
.ck-editor__editable.ck-blurred .ck-widget.ck-widget_selected:hover {
  outline-color: #ffffff !important;
}

.ck .ck-widget.ck-widget_selected, .ck .ck-widget.ck-widget_selected:hover {
  outline: 0 !important; 
}
.ck .ck-editor__nested-editable.ck-editor__nested-editable_focused,
.ck .ck-editor__nested-editable:focus {
  border: 0 !important;
  box-shadow: none !important;
}


.socialite-splitter {
	position: relative;
    font-size: 0.8rem;
    color: #b5b5b5;
}
.socialite-splitter:before {
	content: "";
    border-top: 1px solid #b5b5b5;
    display: block;
    position: absolute;
    width: 5rem;
    top: 0.5rem;
}
.socialite-splitter:after {
	content: "";
    border-top: 1px solid #b5b5b5;
    display: block;
    position: absolute;
    right: 0;
    width: 5rem;
    top: 0.5rem;
}
.socialite-container .weibo-icon {
	color: #ff0000;
}



/* comment style */

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.comment-container {

}
.comment-container textarea{
	resize: none;
	width: 100%;
	height: 6rem;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0.6rem 1rem;
	border-radius: 0.2rem;
}
.comment-container .comment-btn-group .btn-send {
	float: right;
	padding: 0.3rem 0.6rem;
	border: 1px solid transparent;
	border-radius: 0.2rem;
	cursor: pointer;
}

